.toc {
  @extend %unstyled-list;
  @include font-size(14px);
  display: block;
  position: absolute;
  top: 7.25 * $bsu;
  z-index: 5;
  min-height: 2 * $bsu + 1px;
  background-color: white;
  box-shadow:
    rgba(black, .05) 0  5px 0,
    rgba(black, .05) 0 -5px 0;
  border-top: 1px solid rgba(black, .25);
  border-bottom: 1px solid rgba(black, .25);
  color: $blue;
  text-transform: uppercase;

  &.is-fixed {
    position: fixed;
    top: -1px;
  }

  + * {
    margin-top: 4 * $bsu;
  }

  li {
    display: inline-block;
  }

  a {
    @include color-link(shade(white, 50%), shade(white, 75%));
    display: inline-block;
    padding: $hsu;
    border-bottom: none;
  }
}
