:markdown
  - Titles – `#` (biggest), `##` (smaller), `###` (even smaller), ...
  - `*italic*` – *italic*
  - `**bold**` – **bold**
  - `[link](http://example.com)` – [link](http://example.com)
  - `![image](http://image.jpg)` – displays the image
  - `<email@example.com>` – <email@example.com>

  In order to get paragraphs in texts, an additional empty new line is required between
  them.

  **Bad**:

  This is one paragraph.<br>
  This is another paragraph.

  **Good**:

  This is one paragraph.

  This is another paragraph.
